<div class="container-fluid">
    <div class="row no-gutters">
        <div class="position-fixed col-2" style="padding: 0;">
            <div id="topo">
                <p id="titulo">SLAKA 2019</p>
            </div>
            <img id="logo" src="../../../assets/paginas/lateral/logo.png" alt="">
            <div style="margin-top: 15px;">
                <a class="link" href=""><p class="textoLink">Apresentação</p></a>
                <div class="linha"></div>
                <a class="link" href=""><p class="textoLink">Comitês</p></a>
                <div class="linha"></div>
                <a class="link" href=""><p class="textoLink">Autores</p></a>
                <div class="linha"></div>
                <a class="link" href=""><p class="textoLink">Eixos temáticos</p></a>
                <div class="linha"></div>
                <a id="selecionado" class="link" href="">
                    <p class="textoLink">Trabalhos</p>
                    <div id="selecionado2"></div>
                </a>
                <div class="linha"></div>
                <a class="link" href=""><p class="textoLink">Contato</p></a>
            </div>
        </div>
    </div>
</div>
