.topo{
    height: 45px;
    gap: 0px;
    background-color: #FDF1EB;
    border-radius: 3px 3px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-left: -13px;
    border: 1px solid #ECECEC;    
}
.tituloBloco{
    //font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    margin-top: 7px;
    margin-left: 14px;
    line-height: 25px;
    text-align: left;
    color: #4E4E4E;
}
#blocoResumo, .bloco2{
    margin-left: 55px;
    border-radius: 3px 3px 0px 0px;
    margin-top: 40px;
    border: 1px solid #ECECEC
}
.descricaoResumo{
    margin-left: 3px;
    margin-top: 12px;
    display: inline;
}
.btn-show-more{
    border: 0px;
    margin-top: -41px;
    margin-left: 4px;
    background: transparent;
    color: blue;
}
#mostrarMenos{
    border: 0px;
    margin-top: -41px;
    margin-left: 4px;
    background: transparent;
    color: blue;
}
.tituloDiscussoes{
    //font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    margin-top: 30px;
    text-align: center;
    color: #ED7839;
}
#posicaoImg{
    display: flex;
    justify-content: center;
}
.imgDiscussoes{
    height: 90px;
    margin-top: 10px;
}
#botaoCriar{
    position: absolute;
    width: 123px;
    height: 30px; 
    margin-top: -15px;
    margin-left: 460px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 2px 2px 0px #0000003D;
    display: block;
    border: 0px;
    border-radius: 3px;
}
#txt2{
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    display: inline;
    color: #FFFFFF;
}
#txt1{
    font-size: 23px;
    margin-left: 0px;
    display: inline;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.txtDiscussoes{
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.25px;
    text-align: center;
    margin-top: 20px;
}
.discussao{
    width: 990px;
    //height: 148px;
    margin-top: 25px;
    margin-left: 20px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px;
    opacity: 0px;
    box-shadow: 0px 0px 8px 0px #0000001F;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
}
.tituloPergunta{
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #ED7839;
    margin-top: 10px;
    margin-left: 15px;
}
.nome1{
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    color: #5C5C5C;
    margin-left: 15px;
}
.txtPergunta{
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: left;
    margin-left: 15px;
    color: #4D4D4D;
}
.btLike{
    display: inline-flexbox;
    position: absolute;
    width: 23px;
    height: 19px;
    gap: 0px;
    margin-top: -3px;
    opacity: 0px;
    background: #ED7839;
    margin-left: 8px;
    box-shadow: 0px 2px 2px 0px #0000003D;
    border-radius: 3px;
}
.imgLile{
    margin-left: 2px;
    margin-top: -7px;
    width: 17px;
    height: 12px;
}
.pontos{
    margin-top: -13px;
    margin-left: 15px;
    height: 15px;
    width: 14px;
}
.like{
    display: inline-flex;
    position: absolute;
    margin-top: -4px;
    color: #757575;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 350;
    line-height: 18.62px;
    text-align: left;
    margin-left: 41px;
}
.resposta{
    display: inline-flex;
    position: absolute;
    margin-top: -4px;
    color: #757575;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 350;
    line-height: 18.62px;
    text-align: left;
    margin-left: 80px;
}
.bloco2{
    border: 1px solid #ECECEC;
    //height: 680px;
    height: auto;
}
.linha{
    width: 90%;
    border: 1px solid #E7E7E7;
    margin-left: 50px;
    z-index: -1;
    margin-top: 40pz;
}
.respostaDiscussao1{
    border: 1px solid #E7E7E7;
    background-color: #F8F8F8;
    height: 131px;
    box-shadow: 0px 0px 8px 0px #0000001F;
    overflow: hidden;
    margin-left: 20px;
    width: 990px;
}
.respostaDiscussao2{
    border: 1px solid #E7E7E7;
    background-color: #ffffff;
    height: 164px;
    box-shadow: 0px 0px 8px 0px #0000001F;
    overflow: hidden;
    margin-left: 20px;
    width: 990px;
}
.nome2{
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 500;
    display: block;
    line-height: 15px;
    margin-top: 25px;
    text-align: left;
    color: #5C5C5C;
    margin-left: 15px;
}
.tituloFormulario{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    margin-left: 20px;
    margin-top: 15px;
    text-align: left;
    color: #ED7839;
}
#input1{
    width: 98%;
    margin-top: -25px;
    height: 39px;
    margin-left: 20px;
}
#input2{
    width: 98%;
    height: 39px;
    height: 82px;
    margin-top: -5px;
    margin-left: 20px;
}
#faixaCinza{
    width: 98%;
    height: 31px;
    margin-left: 20px;
    border-radius: 0px 0px 4px 4px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
}
#linkDescubraTrabalhos{
    color: #ED7839;
    margin-left: 40%;
}
#botaoCriar2{
    text-decoration: none;
    width: 180px;
    height: 30px; 
    opacity: 0px;
    margin-top: 18px;
    margin-left: 40%;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 2px 2px 0px #0000003D;
    display: block;
    border: 0px;
    border-radius: 3px;
}
#efeitoBlur{
    filter: blur(3px);
}
#textoBotaoEnviar{
    color: white; 
}
#enviar{
    width: 205.1px;
    height: 31px;
    margin-left: 778px;
    border: none;
    border-radius: 0px 0px 4px 0px;
    opacity: 0px;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
}
#mensagemFeedback{
    background-color: #dddddd34;
    position: absolute;
    width: 990px;
    height: 170px;
    overflow: hidden;
    margin-top: -165px;
    margin-left: 20px;
}
#txtFeedback{
    color: #707070;
    //font-family: Quicksand;
    font-size: 16px;
    width: 300px;
    font-weight: 900;
    line-height: 20px;
}
#posicaoFeedback{
    position: absolute;
    margin-top: 35px;
    margin-left: 37%;
}
#linkFeedback{
    color: #ED7839;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-top: -12px;
    line-height: 18.62px;
    text-align: center;    
}
#checkCinza{
    width: 41px;
    margin-left: 118px;
    margin-top: -10px;
    height: 34px;
}
.posicaoAutor{
    position: absolute;
    width: 180px;
    margin-top: 20px;
    margin-left: 880px;
}
.txtAutor{
    color: #ED7839;
    font-family: Quicksand;
    font-size: 14px;
    display: inline;
    font-weight: 700;
    line-height: 17.5px;
    text-align: left;
}
.checkLaranja{
    width: 40px;
    display: inline;
    margin-left: 10px;
    height: 35px;
}