<div id="blocoTopo" class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <p id="txt1">Anais do Simpósio Latino Americano de Ciências de Alimentos.</p>
            <h2>Anai do 13 Simpósio Latino Americano de Ciências de Alimentos.</h2>
            <p id="txt2">ISSN: 1234-5678</p>
        </div>
        <div class="col-lg-1">
            <div id="lingua">
                <img id="globo" src="../../../assets/paginas/topo/globo.png" alt="">
                <p id="txtLingua">PT, BR</p>
                <img id="triangulo" src="../../../assets/paginas/topo/triangulo.png" alt="">
            </div>
        </div>
        <div class="col-lg-2">
            <p id="bemVindo">Bem vindo!</p>
            <p id="email">alguem12&#64;galoascience.com</p>
        </div>
        <div class="col-1 position-relative">
            <div id="bolaVermelha">
                <p id="numero">2</p>
            </div>
            <img id="imgPessoa" src="../../../assets/paginas/topo/pessoa.jpg" alt="">
        </div>
         
    </div>
</div>